body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(10, 10, 10);

}

.navbar {
  background-color: #261919;
}


.navbar .navbar-brand {
  opacity: 0.8;
  color: #f5f5f7;
  font-size: 14px;
  font-weight: 100;
}

.navbar .navbar-brand:hover {
  color: #fafafa;
  transform: translateY(-10px);
  
}

.navbar .navbar-nav .nav-item a {
  opacity: 0.8;
  font-size: 16px;
  color: #f5f5f7;
  font-weight: 400;
  margin-left: 20px;
}

.navbar .navbar-nav .nav-item a:hover {
  color: #14ceca;
  transform: translateY(-3px);
}

.landing-sec {
  /* height: 90vh; */
  padding-top: 160px;
  padding-left: 70px;
  padding-bottom: 500px;
  
}

.landing-sec h2 {
  color: #fafafa;
  font-size: 45px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;z
}

.landing-sec h1 {
  font-size: 86px;
  font-weight: 600;
  color: #fafafa;

}


.landing-sec p {
  font-size: 15px;
  color: #A1A1A1;
}

.landing-sec  {
    animation: zoom-in-zoom-out 1.5s ease;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0, 0);
    }
    50% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }

.landing-sec h1 span {
  background-image: linear-gradient(to right, rgb(10, 156, 253), rgb(21, 215, 200));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-sec .btn {
  background-image: linear-gradient(to right, #060706, rgba(225, 225, 244, 0));
  background-color: #363636;
  border-radius: 15px;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
.landing-sec .btn:hover{
 transform: translateY(-10px);
 background-color: var(--clr-accent);
 color: var(--clr-light);
}

.footer {
  background-color: #0c0909;
  padding-left: 70px;
}

.footer h1 {
  font-size: 15px;
  ;
  color: #7d7878;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}

.col-lg-12 {


  font-size: 25px;
  color: #a1a1a1;
  font-weight: 500;
  padding-right: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}

.col-lg-1 {
  font-size: small;
}

.col-lg {
  font-size: 10px;
  color: #a1a1a1;
  font-weight: 500;
  padding-right: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}

.about {
  background-color: #0f0e0e;
  padding-top: 50px;
  padding-bottom: 550px;
  padding-left: 30px;
}


.about h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fafafa;
  font-size: 60px;
  font-weight: 800;
}

.about h3 {
  color: #14ceca;
  font-size: 25px;
  font-weight: 500;
  padding-top: 25px;
  padding-left: 2px;
}

.about h2 {

  color: #fafafa;
  font-size: 50px;
  font-weight: 100;
}

.about p {
  color: #fafafa;
  padding-top: 8px;
  font-weight: 50;
}

.about table td {
  color: #fafafa;
  font-size: large;
}

.about table td span {
  color: #14ceca;
}

.table-borderless {
  color: #f5f5f7;
}

.about .btn {
  background-image: linear-gradient(to right, #4b1347, rgba(10, 132, 128, 0.953));
  background-color: #363636;
  border-radius: 15px;

}
.about h1 span {
  background-image: linear-gradient(to right, rgb(226, 6, 237), rgb(73, 237, 174));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects {
  padding-top: 50px;
  padding-bottom: 300px;
  padding-left: 50px;
}

.projects .heading h1 {
  color: #fafafa;
  font-size: 60px;
  font-weight: 600;
}


.projects .content .card {
  background-color: #1a1a1a;
  border-radius: 15px;
  margin-bottom: 25px;
}

.projects .content .card .badge {
  background-color: #38184c;
  border-radius: 15px;
  margin-right: 2px;
  color: #ffffff;
  font-weight: 400;
}

.projects .content .card h5 {
  color: #94d9f4;
  font-size: 15px;
}

.projects .content .card i {
  color: #fafafa;
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.projects .content .card i:hover {
  color: blueviolet;
}

.projects .content .card h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}

.projects .content .card p {
  color: #818181;
  font-size: 16px;
  font-weight: 500;
}
.projects h1 span {
  background-image: linear-gradient(to right, rgb(226, 6, 237), rgb(73, 237, 174));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resume h1 span {
  background-image: linear-gradient(to right, rgb(255, 0, 140), rgb(237, 229, 73));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.resume h1 {
  font-size: 72px;
  font-weight: 600;
  color: #fafafa;
}

.resume h1  {
  animation: zoom-in-zoom-out 1s ease;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0, 0);
  }
  50% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}


.resume p {
  font-size: 15px;
  color: #A1A1A1;
}

.images{
  width: 130vh;
  margin-left:60px;
}
.contact-sec{
  padding-left: 70px;
  padding-top: 400px;
}

.contact-sec h1 span {
  background-image: linear-gradient(to right, rgb(255, 26, 141), rgb(221, 237, 73));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-sec h1 {
  font-size: 72px;
  font-weight: 600;
  color: #fafafa;
}

.contact-sec p {
  font-size: 15px;
  color: #A1A1A1;
}
.contact-sec .btn {
  background-image: linear-gradient(to right, #7d0000, rgba(2, 88, 110, 0));
  background-color: #363636;
  border-radius: 20px;
  color: #fff;
}
.contact-right form{
  width: 100%;
}
form input,form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
.timeline {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 50px;
}
.timeline .heading h1 {
  color: #fafafa;
  font-size: 60px;
  font-weight: 600;
}

.timeline .content .card {
  background-color: #1a1a1a;
  border-radius: 15px;
  margin-bottom: 25px;
}



.landing1-sec {
  height: 3vh;
  padding-top: 160px;
  padding-left: 70px;
}
.landing1-sec h1 {
  font-size: 72px;
  font-weight: 600;
  color: #fafafa;
}
.landing1-sec h1 span {
  background-image: linear-gradient(to right, rgb(10, 156, 253), rgb(21, 215, 200));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* syle2 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.bbody{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0c0b0b;
}
.skill{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.skill .card{
  position: relative;
  width: 220px;
  height: 250px;
  background: #0b0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill .card .percent{
  position: relative;
  width: 150px;
  height: 150px;
 
}

.skill .card .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}
.skill .card .percent svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: #191919;
  transform: translate(5px,5px);
}
.skill .card .percent svg circle:nth-child(2){
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 1s;
}
@keyframes fadeIn {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

.skill .dot
{
  position: absolute;  
  inset: 5px;
  z-index: 10;
  transform: rotate(calc(3.6deg * var(--num)));
  animation: animateDot 2.5s linear forwards; 
}

@keyframes animateDot {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(calc(3.6deg * var(--num)));
  }
}


.dot::before{
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50);
  width: 10px;
  height: 10px;
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),0 0 30px var(--clr);
}
.skill .number{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}
 .skill .number h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5d4e4e;
  font-weight: 700;
  font-size: 2.5em;
}
.skill .card h2{
  color: rgb(187, 151, 201);
  margin-right: 4px;
}
.skill .number h2 span{
  font-weight: 300;
  color: #fff;
  font-size: 0.5em;
}
.skill .card .number p{
  font-weight: 300;
  font-size: 0.75em;
  line-height: 2px;
  margin-top: 5px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.75);
}
